.sidebar {
  background-color: #f4f4f4;
  width: 200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.sidebar ul li {
  margin-bottom: 10px;
  cursor: pointer;
}

.sidebar ul a:hover {
  color: #333;
}

.sidebar ul a.active {
  background-color: #3498db;
  cursor: default;
}
